/* Hero section starts here */
.hero {
  display: flex;
  margin-left: 6px;
}

.hero-category {
  max-width: 550px;
}

.hero h1 {
  text-align: left;
  margin-bottom: 20px;
}
.hero h2 {
  margin-bottom: 20px;
}

.hero-left {
  /* flex: 1; */
max-width: 400px;
}

/* CTA styling */

.cta-general {
  border: solid 1px var(--primary-color);
  border-radius: 4px;
  color: white;
  background-color: var(--primary-color);
  padding: 9px 16px;
  cursor: pointer;
  float: left;
  text-decoration: none;
  margin-top: 20px;
}
.cta-hero.left {
  border: solid 1px var(--primary-color);
  border-radius: 4px;
  color: white;
  background-color: var(--primary-color);
  padding: 9px 16px;
  cursor: pointer;
  float: left;
  
}

.cta-hero.right {
  border: solid 1px;
  border-radius: 4px;
  color: var(--primary-color);
  background-color: white;
  padding: 9px 16px;
  margin-left: 60px;
  cursor: pointer;
  float: left;
}
.cta-general:hover {
  background-color: #5031f3;
  color: white;
}
.cta-hero.left:hover {
  background-color: #5031f3;
}
.cta-hero.right:hover {
  background-color: #5031f3;
  color: white;
}

.hero-right {
    text-align: center;
    /* flex: 1; This will make the right section take up the same amount of space as the left section */
} 
 

/* Style the image inside the hero-right section, if needed */
.hero-right img {
  width: 300px;
  height: 300px;
  margin: auto;
}

/* Media query to hide the right section on mobile view */
@media (max-width: 600px) {
  .hidden-mobile {
    display: none;
  }
}

@media (min-width: 601px) {
    .hero-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
      }
}

  
