/* TableReact.css */
.TableReact {
    background-color: white;
    border-spacing: 0;
  }
  
  th {
    background-color: #f2f2f2;
  }

  .td {
    vertical-align: top;
  }

.Links {
  min-width: 159px;
} 

/* .base p {
  display: contents;
} */
.extended-div {
  background-color: var(--background-color);
  height: 10px;
  padding-left: 10px;
}

th,
td {
  padding: 10px 10px;
}

.ShowMoreRow{
    background-color: #F4F5F8;
}



  .logo-links-container {
    display: flex;
    align-items: center; /* If you want to align them vertically centered */
    gap: 0px; /* If you want to add some gap between them */
  }
  




#logos{
  vertical-align: top;
    height: 34px;
    margin: 2px 2px;
    border: 1px solid gray;
    border-radius: 50%;
}
#logos:hover {
  border: 1px solid black;
}

  #social-icons {
    height: 24px;
    margin: 2px 2px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 50%;
  }
  #social-icons:hover {
    border: 1px solid black;
  }



  .first-cell{
    vertical-align: top;
    align-items: flex-start;
  }

  .second-cell{
    vertical-align: top;
    align-items: flex-start;
    min-width: 120px;
  }

  .third-cell{
    vertical-align: top;
    align-items: flex-start;
  }

  #expanded-icons {
    display: flex;
    align-items: center;
  }

  .MissionContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .mission{
    vertical-align: center;
    align-items: flex-start;
  }
  
  .emoji {
    font-size: 2rem; /* Adjust as needed */
  }
  
  
  
  
