/*
* Global variables
**/
:root {
  --text-color: #10162f;
  --primary-color: #3a10e5;
  --hover-color: gray;
  --background-color: #fff2e4;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-content {
  flex: 1;
}


body {
  background-color: var(--background-color);
  font-family: Arial, sans-serif;
  text-align: left;
  color: var(--text-color);
  overflow-x: hidden;
  
}
h1 {
  font-size: 32px;
}

h4 {
  font-weight: bold;
  margin: 0px 0px;
  color: var(--text-color);
}

h4:hover {
  color: var(--hover-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--hover-color);
}
.container-content{
  max-width: 600px;
  margin: 0px auto;
}

@media (max-width: 600px) {
  .container-content {
    max-width: 96%;
  }
}

html,
body {
  height: 100%;
  margin: 0;
}

.wrapper {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100%;
}

.content {
  grid-row: 1 / span 1;
  
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

#blog-header {
  max-width: 600px;
  height: auto;
  display: block;
  margin: 0 auto;
}

@media (max-width: 600px) {
  #blog-header {
    max-width: 96%; 
  }
}
